<div class="card-box col-12 col-md-6 col-lg-4">
  <%= link_to text_path(text) do %>
    <div class="card body-size border-dark mb-3">
      <div class="card-header p-0">
        <img class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/texts/no_image.jpg">
      </div>
      <div class="card-body text-dark">
        <div class="read-through-box mb-1" id="text-<%= text.id %>">
          <% if text.read_progressed_by?(current_user) %>
            <%= render "progress", text: text %>
          <% else %>
            <%= render "nonprogress", text: text %>
          <% end %>
        </div>
        <p class="card-title mt-3 mb-3"><%= text.title %></p>
        <p class="card-text">【<%= text.genre_i18n  %>】</p>
      </div>
    </div>
  <% end %>
</div>
