<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" href="#"><%= image_tag("yanbaru_expert_logo.png")%></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to "Ruby", texts_path(genre: "ruby"), class: "nav-item nav-link active" %>
      <%= link_to "Ruby", movies_path(genre: "ruby"), class: "nav-item nav-link active" %>
      <%= link_to "PHP", texts_path(genre: "php"), class: "nav-item nav-link active" %>
      <%= link_to "PHP", movies_path(genre: "php"), class: "nav-item nav-link active" %>
      <% if user_signed_in? %>
        <%= link_to "アカウント編集", edit_user_registration_path, class: "nav-item nav-link active" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-item nav-link active" %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path, class: "nav-item nav-link active" %>
        <%= link_to "ログイン", new_user_session_path, class: "nav-item nav-link active" %>
      <% end %>
    </div>
  </div>
</nav>

